/* -----------MOBILE------------ */

@media (min-width: 320px) and (max-width: 750px) {

    .grand-container {
        max-width: 100%;
        width: 100%;
    }

    .d23 {
        display: none;
    }

    .logo {
        flex: 1;
        max-width: 50px;
        height: 50px;
    }

    .hero {
        height: 55vh;
        margin: 0;
        padding: 10px;
    }

    .heroTexts {
        width: 359px;
    }

    .heroTexts h1 {
        font-size: 60px;
        width: 100%;
    }

    .heroTexts p {
        font-size: 13px;
        max-width: 100%;
    }

    #hB {
        font-size: 12px;
    }

    header {
        padding: 10px 0px;
    }

    #hB {
        width: 90px;
        height: 30px;
    }

    .features {
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-items: center;
        align-items: center;
        padding: 10px;
        background-size: 35%;
    }

    .feats {
        margin: auto;
        height: fit-content;
        padding: 10px;
        padding-bottom: 110px;
        display: flex;
        max-width: 100%;
        width: 90%;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }

    .featbox h3 {
        font-size: 22px;
        font-weight: 500;
    }

    .flow {
        background-color: #00005c;
        color: white;
        padding: 20px;

        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding: 50px 10px;
    }

    .flowcharts {
        gap: 10px;
        width: 90%;
        justify-self: center;
    }

    .dText {
        display: flex;
        gap: 10px;
        flex-direction: column;
    }

    .flowcharts p {
        font-size: 15px;
    }

    .flow h3 {
        font-size: 22px;
        font-weight: 500;
    }
}